#Global {
  font-size: 1.1rem;
}

#BodyH {
  src: url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
  font-family: 'Palette Mosaic', cursive;
  font-size: 6.9rem;
}

#game-field {
    display: grid;
    grid-template-columns: auto auto auto;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
    gap: 4px;
    width: min-content;
  }
  
  .game-field_cell {
    background: #FFFFFF;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    padding: 10px;
    
  }
  
  #reset-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    background: #F7F7F7;
    border-radius: 12px;
    margin: 10px auto auto auto;
  }

  #modal-window{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    font-size: small;
  }

  #btn-close-window{
    width: 150px;
    height: 20px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    cursor: pointer;
  }
